$type-scale: (
	small: (
		// 16px
		300: 1rem,
		// 18px
		400: 1.125rem,
		// 20px
		500: 1.25rem,
		// 22px
		600: 1.375rem,
		// 24px
		700: 1.5rem,
		// 34px
		800: 2.125rem,
	),
	medium: (
		// 16px
		300: 1rem,
		// 18px
		400: 1.125rem,
		// 21px
		500: 1.3125rem,
		// 25px
		600: 1.5625rem,
		// 27px
		700: 1.6875rem,
		// 40px
		800: 2.5rem,
	),
);
