<div class="construction">
	<img src="/assets/wip.gif" alt="UNDER CONSTRUCTION">
	<p>Despite being relatively complete, this site is still very much a work in progress! As such, some functionallity may be missing or the visuals may be off.</p>
</div>