<div class="{{ class }}">
  <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
  <p class="caption"><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time> | {% for tag in post.data.tags | filterTagList %}{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}<a href="{{ tagUrl | url }}">{{ tag }}</a>{% endfor %}</p>
  <p>{{ post.data.description }}</p>
</div>