<div class="{{ class }}">
	{% if class == "latest-item" %}
		<div>
			<h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
			<p class="caption"><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time> | {% for tag in post.data.tags | filterTagList %}{% set tagUrl %}/blog/tags/{{ tag | slug }}/{% endset %}<a class="blog-tag" href="{{ tagUrl | url }}">{{ tag }}</a> {% endfor %}</p>
			{% markdown %}{{ post.data.description }}{% endmarkdown %}
		</div>
	{% else %}
		<h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
		<p class="caption">
			<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
			{% if post.data.lastmod | htmlDateString !== post.date | htmlDateString %}
				(Edited <time class="postlist-date" datetime="{{ post.data.lastmod | htmlDateString }}">{{ post.data.lastmod | readableDate }}</time>)
			{% endif %}
			 | 
			{% for tag in post.data.tags | filterTagList %}
				{% set tagUrl %}/blog/tags/{{ tag | slug }}/{% endset %}
				<a class="blog-tag" href="{{ tagUrl | url }}">{{ tag }}</a> 
			{% endfor %}
		</p>
		{% markdown %}{{ post.data.description }}{% endmarkdown %}
	{% endif %}
</div>