<aside class="blog-tagnav">
	<div class="sticky">
		<div>
			{% set tagUrl = "/blog/tags/" %}
			<details class="context" {% if tagUrl in page.url %} open="true" {% endif %}>
				<summary class="context-button">Show Tags</summary>
				<div class="context-details">
					<ul>
					{% for tag in collections.tagList %}
						{% set tagUrl %}/blog/tags/{{ tag | slugify }}/{% endset %}
						<li><a class="blog-tag" {% if tagUrl == page.url %} aria-current="page" {% endif %} href="{{ tagUrl | url }}">{{ tag }}</a></li>
					{% endfor %}
					</ul>
				</div>
			</details>
			<button class="tags-btt"><a href="#main-content" >Back to Top</a></button>
		</div>
	</div>
</aside>