<aside class="blogNavItem">
	<h3 class="special">Tags</h3>
	<ul>
	{% for tag in collections.tagList %}
		{% set tagUrl %}/blog/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl | url }}">{{ tag }}</a></li>
	{% endfor %}
	</ul>
</aside>