@use "../abstracts/" as *;

.bio {
	margin-top: 4em;
	width: 70ch;
	margin-inline: auto;
	p {
		margin-bottom: 1em;
	}
}

.about {
	margin-top: 2em;
	width: 70rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about img {
	height: auto;
	width: auto;
}

.competencies {
	svg {
		height: 32px;
	}
}

.contact {
	margin-top: 2em;
	width: 70rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
}

@include mq(small) {
	.about,
	.contact {
		flex-direction: row;

		> * {
			flex-basis: 100%;
		}
	}
	.contact {
		align-items: start;
	}
}
