@use "../abstracts/" as *;

$width: 70ch;

.billboard {
	margin-bottom: 3rem;

	img {
		height: auto;
		width: auto;
		max-height: 400px;
		margin-inline: auto;
		margin-bottom: 2em;
	}
}

.description {
	font-size: var(--fs-600);
	font-weight: 375;
	margin-bottom: 0.2em;
}

article {
	max-width: $width;
	margin-inline: auto;

	p,
	hr,
	ol,
	blockquote {
		margin-bottom: 1em;
	}
	h1 {
		margin-bottom: 0.25em;
	}
	h2 {
		margin-bottom: 0.15em;
	}

	a[href^="https://"]::after
	{
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16' fill='%23a86800'%3E%3Cpath d='M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2Zm6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03 9.28 7.78a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l3.75-3.75-1.543-1.543A.25.25 0 0 1 10.604 1Z'%3E%3C/path%3E%3C/svg%3E");
		vertical-align: middle;
		display: inline-flex;
		margin-left: 0.1em;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		a {
			color: var(--clr-primary-500);
			text-decoration: none;

			&:hover {
				text-decoration: underline;

				&::before {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' fill='%2378a659'%3E%3Cpath d='M9.618 1.76a.75.75 0 0 1 .623.859L9.46 7.5h6.48l.82-5.118a.75.75 0 0 1 1.48.237L17.46 7.5h3.79a.75.75 0 0 1 0 1.5h-4.03l-.96 6h3.99a.75.75 0 0 1 0 1.5h-4.23l-.78 4.869a.75.75 0 0 1-1.48-.237l.74-4.632H8.02l-.78 4.869a.75.75 0 0 1-1.48-.237L6.5 16.5H2.745a.75.75 0 0 1 0-1.5H6.74l.96-6H3.75a.75.75 0 0 1 0-1.5h4.19l.82-5.118a.75.75 0 0 1 .858-.622ZM14.741 15l.96-6H9.22l-.96 6Z'%3E%3C/path%3E%3C/svg%3E");
					position: relative;
					left: -0.9em;
					top: 0.1em;
					float: left;
					width: 0;
					height: 0;
				}
			}
		}

		.footnotes-sep {
			border: solid 0.1em var(--clr-secondary-200);
		}
	}

	img {
		margin: 0 auto;
		height: auto;
	}
	figcaption {
		margin-top: 0.5em;
		text-align: center;
		font-size: var(--fs-300);
	}

	blockquote {
		padding-left: 1em;
		border-left: var(--clr-secondary-300) solid 0.2em;
		font-size: var(--fs-500);
		font-weight: 300;
		font-stretch: 95%;
		color: var(--clr-neutral-500);
		font-style: italic;

		p {
			margin: 0;
		}
	}

	.footnotes {
		font-size: var(--fs-300);
		margin-bottom: 4em;
	}
}

.project-platforms {
	border: 0.125em dashed var(--clr-neutral-200);
	padding: 0.4em;
	margin-bottom: 2.5rem;
}
