body {
	font-family: "Radio Canada";
	font-weight: 350;
	font-stretch: 87.5%;
	font-size: var(--fs-400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--clr-primary-500);
}

h1 {
	font-size: var(--fs-800);
	font-weight: 700;
	font-stretch: 95%;
	margin-bottom: 0.25em;
}
h2 {
	font-size: var(--fs-700);
	font-weight: 700;
	font-stretch: 90%;
	margin-bottom: 0.15em;
}
h3 {
	font-size: var(--fs-500);
	font-weight: 650;
	font-stretch: 90%;
}
h4 {
	font-size: var(--fs-400);
	font-weight: 600;
	font-stretch: 90%;
}
h5 {
	font-size: var(--fs-400);
	font-weight: 550;
	font-stretch: 90%;
}
h6 {
	font-size: var(--fs-300);
	font-weight: 525;
	font-stretch: 90%;
}

.caption {
	font-size: var(--fs-300);
}
