@use "../abstracts";
$card-margin: 2rem;

.construction {
	background-color: var(--clr-secondary-200);
	border: 0.275rem dashed var(--clr-neutral-400);
	padding: 1rem;
	max-width: 52.6rem;
	margin-inline: auto;
	margin-bottom: $card-margin;

	img {
		margin-inline: auto;
	}
}

.info {
	background-color: var(--clr-primary-200);
	border: 0.275rem solid var(--clr-primary-500);
	max-width: 42.5rem;
	margin-inline: auto;
	margin-bottom: $card-margin;

	figure {
		background-color: var(--clr-primary-500);
		color: #fff;
		font-family: var(--ff-accent);
		display: flex;
		gap: 0.4rem;
		padding: 0.5rem;
	}

	p {
		padding: 1rem;
		margin: 0;
	}
}
