@use "../abstracts";

.construction {
	background-color: var(--clr-construction-300);
	border: 0.275rem dashed var(--clr-neutral-400);
	padding: 1rem;
	max-width: 42.5rem;
	margin-inline: auto;
	margin-bottom: 2rem;

	img {
		margin-inline: auto;
	}
}

.info {
	background-color: var(--clr-information-300);
}
