@use "../abstracts/" as *;

.blog-tag {
	background: var(--clr-neutral-300);
	transition: background 0.2s;
	padding: 0 0.3rem 0.2rem;
	border-radius: 0.2em;
	white-space: normal;
	text-decoration: none;
	color: #fff;

	&[aria-current="page"] {
		background: var(--clr-secondary-500);
	}
	&:hover {
		background: var(--clr-secondary-400);
	}
}

.back-to-top {
	@include button(100%);
	cursor: pointer;
	position: sticky;
	top: 0;
	margin-bottom: 2em;
	z-index: 9;
	a {
		color: #fff;
		text-decoration: none;
	}
}

.table-of-contents {
	border: 0.375em solid var(--clr-primary-400);
	background-color: var(--clr-primary-500);
	padding: 0.4em;
	margin: 2rem 8rem;
	& * {
		margin: 0;
	}

	& > ol {
		margin: 1em 0;
	}

	ol {
		counter-reset: list-item;
	}
	li {
		display: block;
		counter-increment: list-item;

		a {
			color: #fff;
		}
		&::before {
			content: counters(list-item, ".") ": ";
		}
	}
}
