.blog-tag {
	background: var(--clr-neutral-300);
	transition: background 0.2s;
	padding: 0 0.3rem 0.2rem;
	border-radius: 0.2em;
	white-space: normal;
	text-decoration: none;
	color: #fff;

	&:hover {
		background: var(--clr-neutral-200);
	}
}
