<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    
    <meta name="generator" content="{{ site.generator }}">

    <link rel="stylesheet" href="/css/boilerplate.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>
<body>
    <header>
        <nav aria-label="primary">
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
        </nav>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <nav aria-label="secondary">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio/">Portfolio</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="/privacy-policy/">Privacy Policy</a></li>
            </ul>
        </nav>
        <aside>
            {% markdown %}{% include "credits.md" %}{% endmarkdown %}
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img title="Unless stated otherwise, all content on this website is licenced under a CC BY-SA 4.0 License" src="/img/cc-bysa.png"></a>
            <a href="https://neocities.org/"><img src="/img/neocities.png" title="This website is hosted by Neocities" style="height: 31px;"></a>
            <a href="/links/"><img src="/img/retro.gif" title="Take a spin, now you're in with the techno-set. You're going surfin' on the internet!"></a>
        </aside>
    </footer>
</body>
</html>