<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    
    <meta name="generator" content="{{ site.generator }}">

    <link rel="stylesheet" href="/css/boilerplate.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>
<body>
    <header>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>

    </footer>
</body>
</html>