---
layout: layouts/base.njk
---
  <h1 class="special">{{ title }}</h1>

  <nav class="portfolioNav">
    <ul>
      <li><a href="/portfolio/">All</a></li>
      <li><a href="/portfolio/games/">Games</a></li>
      <li><a href="/portfolio/music/">Music</a></li>
      <li><a href="/portfolio/video/">Video</a></li>
    </ul>
    <ul>
      <li><a href="https://github.com/PersonMeetup">Programming</a></li>
      <li><a href="#">Competitive</a></li>
      <li><a href="/portfolio/web-design/">Web Design</a></li>
    </ul>
  </nav>

  <nav class="projectNav">
    {{ content | safe }}
  </nav>