{%- extends "layouts/base.njk" -%}
{%- block styles -%}
  <style>
    {%- renderFile "./sass/critical.scss" -%}
    {%- renderFile "./sass/layouts/portfolionav.scss" -%}
  </style>
{%- endblock -%}
{%- block content -%}
  <h1>Portfolio</h1>
  <ul class="portfolio-nav">
    {%- set navPortfolio = collections.all | eleventyNavigationBreadcrumb("Portfolio", {includeSelf: true}) -%}
    {%- for entry in navPortfolio -%}
      <li {%- if entry.url == page.url %} aria-current="page" {%- endif -%}>
        <a href="{{ entry.url }}">All</a>
      </li>
    {%- endfor -%}
    {%- set navPortfolio = collections.all | eleventyNavigation("Portfolio") -%}
    {%- for entry in navPortfolio -%}
      <li {%- if entry.url == page.url %} aria-current="page" {%- endif -%}>
        <a href="{{ entry.url }}">{{ entry.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
  <hr class="nav-sep">
    <h2 class="text-center">
      {%- if not(title == "Portfolio") -%}{{ title }}{%- else -%}All Projects{%- endif -%}
    </h2>
    {{ content | safe }}
  {%- endblock -%}