---
layout: layouts/base.njk
---

<h1 class="text-center">Portfolio</h1>
<ul class="portfolio-nav">
	<li><a href="/portfolio/">All</a></li>
	<li><a href="/portfolio/games/">Games</a></li>
	<li><a href="/portfolio/music/">Music</a></li>
	<li><a href="/portfolio/video/">Video</a></li>
	<li><a href="https://github.com/PersonMeetup">Programming</a></li>
	<li><a href="/portfolio/competitive/">Competitive</a></li>
	<li><a href="/portfolio/miscellaneous/">Miscellaneous</a></li>
</ul>
<hr class="nav-sep">
<h2 class="text-center">{% if not(title == "Portfolio") %}{{ title }}{% else %}All Projects{% endif %}</h1>
{% if not(title == "Competitive") %}
<div class="project-nav">
	{{ content | safe }}
</div>
{% else %}
{{ content | safe }}
{% endif %}