---
layout: layouts/base.njk
---
<div class="billboard">
	{% image img, title, "100vw, (max-width: 800px) 50vw", "eager" %}
	<h1 class="text-center">{{ title }}</h1>
	<p class="caption text-center">Released <time class="postlist-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>
</div>

<article>
	{{ content | safe }}

	<div class="project-platforms">
		<h2 class="text-center">Available On:</h2>
		<div class="social project-links">
			{% for link in links %}
				{% if link.steam %}
					<a href="{{ link.steam }}">{% include "icons/steam-lrg.njk" %}</a>
				{% elif link.youtube %}
					<a href="{{ link.youtube }}">{% include "icons/youtube-lrg.njk" %}</a>
				{% elif link.soundcloud %}
					<a href="{{ link.soundcloud }}">{% include "icons/soundcloud-lrg.njk" %}</a>
				{% elif link.other %}
					<a href="{{ link.other }}">{% include "icons/link-lrg.njk" %}</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	{% include "comments.njk" %}
</article>