---
layout: layouts/base.njk
---
<div class="billboard">
	<img src="{{ img }}" alt="Thumbnail for {{ title }}">
	<h1 class="text-center">{{ title }}</h1>
	<p class="caption text-center">Released <time class="postlist-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>
</div>

<article>
	{{ content | safe }}

	<div class="project-platforms">
		<h2 class="text-center">Availible On:</h2>
		<div class="social project-links">
			{% for link in links %}
				{% if link.steam %}
					<a href="{{ link.steam }}"><img class="svg" src="/img/steam.svg" alt="{{ project.title }}"></a>
				{% elif link.youtube %}
					<a href="{{ link.youtube }}"><img class="svg" src="/img/youtube.svg" alt="{{ project.title }}"></a>
				{% elif link.soundcloud %}
					<a href="{{ link.soundcloud }}"><img class="svg" src="/img/soundcloud.svg" alt="{{ project.title }}"></a>
				{% elif link.other %}
					<a href="{{ link.other }}"><img class="svg" src="/img/rss.svg" alt="{{ project.title }}"></a>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	{% include "comments.njk" %}
</article>