@use "../abstracts";

svg {
	#rssTransmitter,
	#youtube,
	#twitter,
	#mastodon,
	#soundcloud,
	#kofiCup {
		fill: var(--clr-neutral-300);
		transition: all 200ms ease;
	}

	#rssTransmission {
		stroke: var(--clr-neutral-300);
		transition: all 200ms ease;
	}

	#kofiHeart {
		fill: #fff;
		transform-origin: center;
		transform-box: fill-box;
		transition: fill 150ms ease;
	}

	#logoBgd {
		height: 0px;
		transform: translate(0px, 512px);
		fill: #fff0;
		transition: all 200ms ease;
	}
}

svg:hover {
	#rssTransmitter,
	#youtube,
	#twitter,
	#mastodon,
	#soundcloud,
	#kofiHeart {
		fill: var(--clr-secondary-400);
	}

	#rssTransmission {
		stroke: var(--clr-secondary-400);
	}

	#kofiCup {
		fill: var(--clr-neutral-100);
	}
	#kofiHeart {
		animation: heartPulse 3s ease forwards;
		transition-delay: 200ms;
	}

	@keyframes heartPulse {
		5% {
			transform: scale(0.8);
		}
		20% {
			transform: scale(1.25);
		}
		60%,
		100% {
			transform: scale(1);
		}
	}

	#logoBgd {
		height: 512px;
		transform: translate(0px, 0px);
		fill: var(--clr-primary-300);
	}
}
