$colors: (
	primary: (
		000: hsl(96, 30%, 92%),
		100: hsl(96, 30%, 85%),
		200: hsl(96, 30%, 77%),
		300: hsl(96, 30%, 65%),
		400: hsl(96, 30%, 50%),
		500: hsl(96, 30%, 28%),
	),
	secondary: (
		000: hsl(37, 100%, 92%),
		100: hsl(37, 100%, 85%),
		200: hsl(37, 100%, 77%),
		300: hsl(37, 100%, 65%),
		400: hsl(37, 100%, 50%),
		500: hsl(37, 100%, 28%),
	),
	neutral: (
		000: hsl(0, 0%, 98%),
		100: hsl(0, 0%, 80%),
		200: hsl(0, 0%, 65%),
		300: hsl(0, 0%, 44%),
		400: hsl(0, 0%, 27%),
		500: hsl(0, 0%, 10%),
	),
);
