$colors: (
	primary: (
		100: hsl(96, 30%, 85%),
		200: hsl(96, 30%, 77%),
		300: hsl(96, 30%, 65%),
		400: hsl(96, 30%, 50%),
		500: hsl(96, 30%, 30%),
	),
	secondary: (
		100: hsl(212, 97%, 85%),
		200: hsl(212, 97%, 74%),
		300: hsl(212, 97%, 60%),
		400: hsl(212, 97%, 45%),
		500: hsl(212, 97%, 30%),
	),
	tertiary: (
		100: hsl(12, 67%, 85%),
		200: hsl(12, 67%, 73%),
		300: hsl(12, 67%, 65%),
		400: hsl(12, 67%, 50%),
		500: hsl(12, 67%, 30%),
	),
	neutral: (
		100: hsl(0, 0%, 73%),
		200: hsl(0, 0%, 65%),
		300: hsl(0, 0%, 44%),
		400: hsl(0, 0%, 27%),
		500: hsl(0, 0%, 10%),
	),
	construction: (
		100: hsl(49, 100%, 80%),
		200: hsl(49, 100%, 73%),
		300: hsl(49, 100%, 63%),
		400: hsl(49, 100%, 50%),
		500: hsl(49, 100%, 37%),
	),
	information: (
		100: hsl(202, 93%, 78%),
		200: hsl(202, 93%, 65%),
		300: hsl(202, 93%, 53%),
		400: hsl(202, 93%, 33%),
		500: hsl(202, 93%, 20%),
	),
);
