@use "breakpoints" as *;

@mixin mq($key) {
	$size: map-get($breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin button($width: auto) {
	font-family: var(--ff-accent);
	text-align: center;
	background-color: var(--clr-primary-500);
	padding: 0.6em;
	border: none;
	width: $width;
	margin-inline: auto;
	color: #fff;
	transition: background-color ease 150ms;

	&:hover {
		background-color: var(--clr-secondary-500);
	}
}
