---
permalink: /feeds/blog.json
eleventyExcludeFromCollections: true
---
{% extends "jsonfeed.njk" %}

{% block self %}blog.json{% endblock %}

{% block subtitle %}Latest Blogposts{% endblock %}

{% block entries %}
	{% for post in collections.blog | reverse %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset-%}
	{
		"id": "{{ absolutePostUrl }}",
		"url": "{{ absolutePostUrl }}",
		"title": "{{ post.data.title }}",
		"content_html": {% if post.templateContent %}{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | dump | safe }}{% else %}""{% endif %},
		"summary": "{{ post.data.description }}",
		"date_published": "{{ post.date | rssDate }}"
	}
	{% if not loop.last %}
	,
	{% endif %}
	{% endfor %}
{% endblock %}
