---
permalink: /feeds/all.json
eleventyExcludeFromCollections: true
---
{% extends "jsonfeed.njk" %}

{% block self %}all.json{% endblock %}

{% block subtitle %}Latest Site Updates{% endblock %}

{% block entries %}
	{% for item in collections.blog | reverse %}
	{% set absoluteItemUrl %}{{ item.url | url | absoluteUrl(site.url) }}{% endset-%}
	{
		"id": "{{ absoluteItemUrl }}",
		"url": "{{ absoluteItemUrl }}",
		"title": "{{ item.data.title }}",
		"content_html": {% if item.templateContent %}{{ item.templateContent | htmlToAbsoluteUrls(absoluteItemUrl) | dump | safe }}{% else %}""{% endif %},
		"summary": "{{ post.data.description }}",
		"date_published": "{{ item.date | rssDate }}"
	}
	{% if not loop.last %}
	,
	{% endif %}
	{% endfor %}
{% endblock %}
