@font-face {
	font-family: "Radio Canada";
	font-style: normal;
	src: url("/fonts/RadioCanada.woff2") format("woff2-variations");
	font-weight: 300 700;
	font-stretch: 75 100;
	font-display: swap;
}

@font-face {
	font-family: "Radio Canada";
	font-style: italic;
	src: url("/fonts/RadioCanada-Italic.woff2") format("woff2-variations");
	font-weight: 300 700;
	font-stretch: 75 100;
	font-display: swap;
}
