main {
    padding: 2ch 10ch;
}

main .index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 100px;
    gap: 10px;
    margin-bottom: 50px;
}
main .indexItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    margin: 0;
    border: 3px #bbbbbb solid;
}

main .latest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}
main .latestItem {
    border: 2px #bbbbbb dashed;
    padding: 5px;
    min-height: 16ch;
}
main .latestItem img {
    height: 140px;
}

main nav.blogNav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
}
main .blogNavItem {
    padding: 10px;
    border: 3px #bbbbbb dashed;
    margin-bottom: 10px;
}

main .portfolioNav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 400px; height: 50px;
    margin: 0 auto 24px;
}
main .portfolioNav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
main .portfolioNav ul li {
    display: inline-block;
}
main .projectNav {
    display: grid;
    position: relative;
    right: 6ch;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
main .projectNavGeneral {
    border: 3px #bbbbbb dashed;
    padding: 5px;
    width: 340px;
    text-align: center;
}
main .projectNavGeneral a {
    display: flex;
    justify-content: center;
}
main .projectNavGeneral img {
    border: 2px #333333 solid;
    height: 170px;
}

main .projectNavMusic {
    border: 3px #bbbbbb dashed;
    padding: 5px;
    width: 340px;
    text-align: center;
}