main {
    padding: 0 10ch;
}

main .index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 100px;
    gap: 10px;
    margin-bottom: 50px;
}
main .indexItem {
    min-width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 3px #bbbbbb solid;
    color: #fff; text-decoration: none;
    transition: font-size 200ms, filter 800ms;
    filter: grayscale(1);
}
main .indexItem:hover {
    font-size: 27px;
    filter: grayscale(0);
}
main .indexItemGames {
    background: center url("/img/index-games.jpg");
}
main .indexItemMusic {
    background: center url("/img/index-music.jpg");
}
main .indexItemVideo {
    background: center url("/img/index-video.jpg");
}
main .indexItemSecondary {
    background-color: #63c5fd;
}

main .about {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

main .latest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    margin-bottom: 100px;
}
main .latest h2 {
    text-align: center;
}
main .latestItem {
    border: 2px #bbbbbb dashed;
    padding: 5px;
    height: 156px;
    display: flex;
    gap: 10px;
    align-items: center;
}
main .latestItem a {
    max-height: 140px;
}
main .latestItem img {
    height: 140px;
    border: 2px solid #333333;
}
main .latestItem .caption {
    margin-bottom: .3em;
}



main .blogNav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
}
main .blogNavItem {
    padding: 10px;
    border: 3px #bbbbbb dashed;
    margin-bottom: 10px;
}



main .portfolioNav {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    width: 400px;
    margin: 0 auto 24px;
    padding: 8px;
    border: 3px #bbbbbb dashed;
}
main .portfolioNav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
main .portfolioNav ul li {
    display: inline-block;
}
main .portfolioNavCenter {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}

main .projectNav {
    display: grid;
    position: relative;
    grid-template-columns: 340px 340px 340px;
    gap: 10px;
    justify-content: center;
    margin-bottom: 50px;
}

main .projectNavGeneral {
    border: 3px #bbbbbb dashed;
    padding: 5px;
    text-align: center;
}
main .projectNavGeneral a {
    display: flex;
    justify-content: center;
}
main .projectNavGeneral img {
    border: 2px #333333 solid;
    height: 170px;
}

main .projectNavMusic {
    border: 3px #bbbbbb dashed;
    padding: 5px;
    text-align: center;
}
main .projectNavMusic iframe {
    border: 2px #333333 solid;
}

main article img {
    border: 2px #333333 solid;
}
main article .gallery {
    display: flex;
}
main article blockquote {
    padding: 0 2em;
    border-left: #333333 2px solid;
    font-style: italic;
}
main article .table-of-contents {
    border: 3px #bbbbbb dashed;
    padding: 1em 1em 1em 0em;
    margin: 0 0 1em 1em;
    width: fit-content;
    float: right;
}

main .blogTag {
    background: #868686;
    transition: background .2s;
	padding: 0 .3rem .2rem;
	border-radius: .2em;
	white-space: normal;
    text-decoration: none;
    color: #fff;
}
main .blogTag:hover {
    background: #aaa;
}



main .compPlaytime {
    text-align: center;
    font-size: 25px;
}
main .compExtra {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



main a:hover {
    text-decoration: none;
}

main .construction {
    background-color: #ffdd44;
    border: 3px dashed #333333;
    padding: 16px;
    margin: 0 32px 32px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

main .contact {
    text-align: center;
}



@media screen and (max-width: 1120px) {
    
}
@media screen and (max-width: 1050px) {
    main {
        padding: 0 4ch;
    }
    main .projectNav {
        grid-template-columns: 340px 340px;
    }
}
@media screen and (max-width: 940px) {
    main .about img {
        width: 256px;
    }
    main .index {
        grid-template-columns: none;
        grid-template-rows: 55px 55px 55px 55px 55px 55px;
        gap: 10px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 880px) { 
    main .latest {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        row-gap: 5px;
        margin-bottom: 80px;
    }
    main article .table-of-contents {
        float: none;
        width: auto;
        margin-left: 0;
    }
}
@media screen and (max-width: 690px) {
    main .projectNav {
        grid-template-columns: 340px;
    }
    main .blogNav {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto;
        column-gap: 10px;
    }
    main .blogNavItem {
        grid-row: 1;
    }
}
@media screen and (max-width: 660px) {
    main .about {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 480px) {
    main .portfolioNav {
        width: 340px;
    }
    main .portfolioNav ul {
        column-gap: 10px;
    }
}
@media screen and (max-width: 440px) {
    main {
        padding: 0 2ch;
    }
}