main {
    padding: 2ch 10ch;
}

main .index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 100px;
    gap: 10px;
    margin-bottom: 50px;
}
main .indexItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 3px #bbbbbb solid;
    color: #fff; text-decoration: none;
    transition: font-size 200ms, filter 1s;
    filter: grayscale(1);
}
main .indexItem:hover {
    font-size: 27px;
    filter: grayscale(0);
}
main .indexItemGames {
    background: center url("/img/index-games.jpg");
}
main .indexItemMusic {
    background: center url("/img/index-music.jpg");
}
main .indexItemVideo {
    background: center url("/img/index-video.jpg");
}
main .indexItemSecondary {
    background-color: #63c5fd;
}



main .latest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}
main .latestItem {
    border: 2px #bbbbbb dashed;
    padding: 5px;
    height: 160px;
    display: flex;
    gap: 10px;
    align-items: center;
}
main .latestItem img {
    height: 140px;
}

main nav.blogNav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
}
main .blogNavItem {
    padding: 10px;
    border: 3px #bbbbbb dashed;
    margin-bottom: 10px;
}

main .portfolioNav {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    width: 400px;
    margin: 0 auto 24px;
    padding: 8px;
    border: 3px #bbbbbb dashed;
}
main .portfolioNav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
main .portfolioNav ul li {
    display: inline-block;
}
main .projectNav {
    display: grid;
    position: relative;
    right: 6ch;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
main .projectNavGeneral {
    border: 3px #bbbbbb dashed;
    padding: 5px;
    width: 340px;
    text-align: center;
}
main .projectNavGeneral a {
    display: flex;
    justify-content: center;
}
main .projectNavGeneral img {
    border: 2px #333333 solid;
    height: 170px;
}

main .projectNavMusic {
    border: 3px #bbbbbb dashed;
    padding: 5px;
    width: 340px;
    text-align: center;
}
main .projectNavMusic iframe {
    border: 2px #333333 solid;
}

main .compPlaytime {
    text-align: center;
    font-size: 25px;
}
main .compExtra {
    display: grid;
    grid-template-columns: 1fr 1fr;
}