@charset 'utf-8';
@use "../abstracts/" as *;
@use "../components/back_to_top" as *;
@use "../components/context" as *;
@use "../components/article" as *;
@use "../components/projectlinks" as *;

.portfolio-nav {
	padding: 0.5rem 0;
	font-weight: 350;
	font-stretch: 90%;
	font-size: var(--fs-300);

	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	a {
		color: var(--clr-neutral-500);
		text-decoration: none;
	}
	li {
		border-bottom: 2px solid #fff;
		transition: border-bottom 150ms;

		&[aria-current="page"] {
			border-bottom: 2px solid var(--clr-secondary-200);
		}

		&:hover {
			border-bottom: 2px solid var(--clr-secondary-500);
		}
	}
}

.nav-sep {
	border: solid 0.1em var(--clr-secondary-200);
}

.project-nav {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	gap: 0.26em;
	width: 99.5%;
	margin-inline: auto;
}

.project-image {
	img {
		height: 200px;
		margin-inline: auto;
		width: auto;
	}
	iframe {
		height: 200px;
		margin-inline: auto;
		width: 100%;
	}
}

.project-item {
	display: flex;
	flex-direction: column;
	border: 0.125em dashed var(--clr-neutral-200);
	padding: 0.2em;
	min-height: 17.5em;

	.project-details {
		margin: 0.2em;
		text-align: center;
	}
}
