---
title: About
eleventyNavigation:
  key: About
  order: 4
meta: True
---

{%- extends "layouts/base.njk" -%}
{%- block styles -%}
  <style>
    {% renderFile "./sass/critical.scss" %}
    {% renderFile "./sass/layouts/about.scss" %}
  </style>
{%- endblock -%}
{%- block content -%}
  <!-- Hero Image -->
  <h1>About</h1>
  <p class="description text-center">"Who is this Person anyway?"</p>
  <section class="bio">
    <p>Leslie "Person Meetup" Swan is a multidisciplinary Canadian designer with a focus in New-Media. He is a self-taught
      Game Designer, Programmer, Music Producer and Video Editor who continues to add more skills to his repertoire as his
      determined work ethic pushes him into new fields. His enjoyment of learning new skillsets is rivaled only to his
      enjoyment of creating works that make others smile.</p>
    <p>Ever since he was young, Leslie has been experimenting with video. Spending hours recording on his camcorder, he
      would go on to edit the footage in
      <em>Windows Movie Maker</em>. As he grew older, Leslie would use
      <em>Videopad</em>
      as he learned about key frames, chroma keying, and visual effects through experimentation. His time spent editing videos
      of him and his friends gave him a strong understanding of pacing and structure, skills that would continue to be refined
      as he moved on to using
      <em>Adobe Premiere Pro</em>, then
      <em>DaVinci Resolve</em>.</p>
    <p>In high school, Leslie would learn how to perform with multiple instruments within the percussion section of the
      school’s band ensemble. He would jump from different pitched and non-pitched instruments during recitals, and even got
      the chance to conduct during one of his later performances. Outside of class, Leslie would teach himself how to perform
      on both the piano and guitar, as well as how to produce using digital audio workstations such as
      <em>Ableton Live</em>
      and
      <em>LMMS</em>.</p>
    <p>Leslie would also teach himself how to mod custom levels for
      <em>Portal 2</em>
      using the
      <em>Source</em>
      engine’s Hammer Editor. Having submitted work to multiple community mapping competitions, Leslie would go on to apply
      his knowledge of mapping to other Source games; including
      <em>Team Fortress 2</em>. His work since 2017 would lead into him working as a Level Designer on Catalyst, where he
        would also take on the role of Secondary Writer later on.</p>
  </section>
  <section class="about">
    <div>{%- image "src/assets/about.png", "Images of Person", "512px", "eager" -%}</div>
    <blockquote>
      <p>"When it comes to my work, I'm often inspired by those around me. Whether I'm making something for someone or with
        others, I'm always aiming for what I make to get a positive reaction. I believe the most important aspect to any project
        I work on is that it needs to come from a genuine place of enjoyment rather than one of obligation. If it’s genuine, I
        won’t be afraid to experiment and contribute beyond what was initially expected of me. Even if I might not have the
        skillset required, I’ll still take a shot at any problems that might’ve occurred as it gives me a chance to grow my
        skills. I believe that my best work comes from projects that challenge me creatively, technically, and emotionally."</p>
    </blockquote>
  </section>
  <h2>Get in Touch</h2>
  <section class="contact">
    <details class="context">
      <summary class="context-button">General</summary>
      <div class="context-details">
        <p>Want to rattle my brain about something? Feel free to get my attention over on
          <a href="https://mstdn.ca/@personmeetup">Mastodon</a>
          (@personmeetup@mstdn.ca). Just be prepared for me not to respond right away!
        </p>
        <p>You can also
          <a href="mailto:contact@personmeetup.ca">email me</a>
          at contact@personmeetup.ca</p>
      </div>
    </details>
    <details class="context">
      <summary class="context-button">Business</summary>
      <div class="context-details">
        <p>If you're curious about what professional work I've done, I'd encourage you to
          <a href="https://ca.linkedin.com/in/leslie-swan-9b895526a">look through my LinkedIn profile</a>.</p>
        <p>For any other business or work related inquiries, please
          <a href="mailto:business@personmeetup.ca">email me</a>
          at business@personmeetup.ca</p>
      </div>
    </details>
  </section>
{%- endblock -%}