---
title: Blog
layout: layouts/browse-blog.njk
eleventyNavigation:
  key: Blog
  order: 3
---
{% set postslist = collections.blog %}
{% set class = "blogNavItem" %}
<section>
{% for post in postslist | reverse %}
  {% include "postslist.njk" %}
{% endfor %}
</section>