---
layout: layouts/browse-portfolio.njk
permalink: /portfolio/competitive/
title: Competitive
---
<!--Playtime-->
<section class="compPlaytime">
  <p>I've spent a lot of time playing Team Fortress 2.<br><strong>{{ tf2.totalPlaytime }} hours</strong> to be exact.</p>
  <!--Class Playtime-->
  <!--(Both should update to latest numbers on build time via Steam API)-->
</section>
<section class="compSeasons">
  <h2 class="special">Seasons</h2>
  <h3>UGC Highlander:</h3>
  <ul>
    <li>S19: NA Iron | <a href="http://www.ugcleague.com/team_page.cfm?clan_id=21969">The Omega Squaddies</a> | Engi Substitute | 4-4</li>
    <li>S20: NA Steel | <a href="http://www.ugcleague.com/team_page.cfm?clan_id=21969">Hip To Be Square</a> | Scout/Medic/Engi Substitute | 4-4</li>
    <li>S21: NA Steel | <a href="http://www.ugcleague.com/team_page.cfm?clan_id=24423">Pythagorean Meetup</a> | Engi Substitute | 4-4</li>
    <li>S25: NA Steel | <a href="http://www.ugcleague.com/team_page.cfm?clan_id=13165">NBC's The Office</a> | Engi Main | 4-5</li>
  </ul>
  <h3>RGL Highlander:</h3>
  <ul>
    <li>S3: NA Open | <a href="http://hl.rgl.gg/Public/Team.aspx?t=4940">Napalm Sticks To Kids</a> | Engi Main | 5-3</li>
    <li>S4: NA Intermediate | <a href="http://hl.rgl.gg/Public/Team.aspx?t=5604">Napalm Sticks To Kids</a> | Engi Main | 2-5</li>
    <li>S5: NA Intermediate | <a href="http://hl.rgl.gg/Public/Team.aspx?t=6002">Napalm Sticks To Kids</a> | Engi Main | 2-5</li>
    <li>S6: NA Main | <a href="https://rgl.gg/Public/Team.aspx?t=6665&r=24">(non) consensual vibing</a> | Engi Main | 5-5 (4th Place)</li>
  </ul>
  <br>
  <p>For more information, check my <a href="https://rgl.gg/Public/PlayerProfile.aspx?p=76561198121851448">RGL Profile</a></p>
</section>
<!--Config-->
