---
layout: layouts/base.njk
eleventyNavigation:
  key: Contact
  order: 4
---
<h1 class="special">Contact</h1>

<p>Sadly, I haven't set up a public way of getting in direct contect with me just yet! This page will update as soon as I figure something out!</p>