---
layout: layouts/base.njk
eleventyNavigation:
  key: Contact
  order: 4
---
<h1 class="special">Contact</h1>

<section class="contact">
  <p>Thanks for wanting to get in contact! You can reach me from either of the address' below.</p>
  <p><a href="mailto:contact@personmeetup.ca">General</a> | <a href="mailto:business@personmeetup.ca">Business</a></p>
  <p>Also check out this site's <a href="https://github.com/PersonMeetup/personmeetup-web/discussions">GitHub Discussions</a></p>
</section>