---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---
<nav aria-label="Portfolio">
	<ul class="index">
		<li class="index-games"><a href="/portfolio/games/">GAMES</a></li>
		<li class="index-music"><a href="/portfolio/music/">MUSIC</a></li>
		<li class="index-video"><a href="/portfolio/video/">VIDEO</a></li>
		<li class="index-programming"><a href="https://github.com/PersonMeetup">PROGRAMMING</a></li>
		<li class="index-competitive"><a href="/portfolio/competitive/">COMPETITIVE</a></li>
		<li class="index-miscellaneous"><a href="/portfolio/miscellaneous/">MISCELLANEOUS</a></li>
	</ul>
</nav>

<section class="about">
	<div><img src="/img/about.png" alt="Images of Person"></div>
	<div>{% markdown %}{% include "about.md" %}{% endmarkdown %}</div>
</section>

<nav class="latest" aria-label="Latest Updates">
	{% set class = "latest-item" %}
	<section>
		<h2 class="text-center">Latest Project</h2>
		{% set projectslist = collections.portfolio | head(-1) %}
		{% for project in projectslist | reverse %}
			{% include "projectslist.njk" %}
		{% endfor %}
	</section>
	<section>
		<h2 class="text-center">Latest Blogpost</h2>
		{% set postslist = collections.blog | head(-1) %}
		{% for post in postslist | reverse %}
			{% include "postslist.njk" %}
		{% endfor %}
	</section>
</nav>