---
layout: layouts/base.njk
eleventyNavigation:
  key: Person Meetup
  order: 3
---
<h2>Games</h2>
<h2>Music</h2>
<h2>Video</h2>
<h3>Programming</h3>
<h3>Competitive TF2</h3>
<h3>Web Design</h3>

<section>
    <img src="#" alt="Person Image">
    <p>This is a paragraph about me. God, I dread having to be narsaistic.</p>
</section>

<section>
    <!--Recent Project Release-->
</section>
<section>
    <!--Recent Blog Post-->
</section>