---
title: Library
eleventyNavigation:
  key: Library
  order: 3
---

{%- extends "layouts/base.njk" -%}
{%- block styles -%}
  <style>
    {% renderFile "./sass/critical.scss" %}
    {% renderFile "./sass/layouts/blognav.scss" %}
  </style>
{%- endblock -%}
{%- block content -%}
  <h1>{{ title }}</h1>
	{%- currate "library" -%}
  <div class="blog-nav">
    {%- set postslist = collections.library -%}
    {%- set class = "bookmark-item" -%}
    <section>
      {%- for post in postslist | reverse -%}
        {%- include "postslist.njk" -%}
      {%- endfor -%}
    </section>
		{%- set type = "library" -%}
		{%- set tagList = collections.libraryTagList -%}
    {%- include "tagslist.njk" -%}
  </div>
{%- endblock -%}