---
title: Pinnacle of Web Design
layout: layouts/base.njk
eleventyExcludeFromCollections: true
---
<style>
    /* league-script-regular - latin */
    @font-face {
        font-family: 'League Script';
        font-style: normal;
        font-weight: 400;
        src: local(''),
            url('/fonts/league-script-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('/fonts/league-script-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* determination - sans */
    @font-face {
        font-family: 'Determination';
        font-style: normal;
        font-weight: 400;
        src: local(''),
            url('/fonts/determination-sans-regular.woff') format('woff');
    }

    .frog {
        position: absolute;
        top: 1080px; left: 1440px;
        width: 256px;
    }
    table,
    td {
        border: 1px solid #333;
        font-family: 'Determination';
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
    body {
        background: center / 225% url("/img/background-links.jpg");
    }

    .theonlyseriouspart {
        width: 300px;
        float: right;
        border: 2px solid black;
        padding: 4px;
    }

    .gold {
        background-color: #fcd54b;
        text-align: center;
        font-family: 'League Script';
        width: 400px; height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: gold solid 5px
    }

    .thepit {
        width: 350px; height: 400px;
        background: bottom / cover repeat url("/img/links/helpme.gif");
        color: #fff;
    }
    .thepit img {
        height: 300px;
        position: relative;
        top: 100px; left: 20px;
    }
</style>

<div style="font-family: 'Determination';">
<div style="position: relative;left: 50px;">
{% set videoTitle = "You're going surfing on the internet!" %}
{% set videoId = "wBTsFZGzoho" %}
{% include 'youtube.njk' %}
</div>
<h1 class="special">INTERNET LINKZ</h1>
<p class="special">(This is as close as this website will get to the design of the retro web. Better take in that peak graphical design.)</p>
<p class="special">((Oh, ya, my apologies to those using screen readers.))</p>

<!--The plan is to make this page as horribly designed as possible. Have random elements all over the place! Use divs and tables! Make modern web designers cry! Have it all contained on this single page of the site!-->

<div class="theonlyseriouspart">
    <center><h2>Cool Sites</h2></center>
    <a href="https://vertpush.neocities.org/"><img src="/img/links/vertpush.gif"/></a>
    <a href="https://omoulo.neocities.org/"><img src="/img/links/omoulo.png"></a>
    <a href="https://bikobatanari.art"><img src="/img/links/bikobatanari.gif"></a>
    <a href="https://neonaut.neocities.org/"><img src="/img/links/neonaut.png"></a>
    <a href="https://coffeebug.neocities.org/"><img src="/img/links/coffeebug.gif"></a>
    <a href="https://snail-legs.co.uk/"><img src="/img/links/snail-legs.png"></a>
    <a href="https://yesterweb.org/"><img src="/img/links/yesterweb.gif"></a>
    <a href="https://bloktic.neocities.org/"><img src="/img/links/bloktic.gif"></a>
    <a href="https://laytonloztew.neocities.org/"><img src="/img/links/laytonclub.png" alt=""></a>
    <a href="https://fallenhuman.neocities.org/">fallenhuman</a>
    <a href="https://www.brycewray.com/">brycewray</a>
    <a href="https://midgetsausage.neocities.org/">midgetsausage</a>
</div>

<div>
    <center><a href="https://www.youtube.com/watch?v=cH-uB_eaLvM"><img src="/img/links/whaiscring.gif"></a></center>
    <img src="/img/links/vscode.gif">
    <img src="/img/links/htmldream.gif">
    <img src="/img/links/hicolor.gif">
    <img src="/img/links/bookmark.gif">
    <img src="/img/links/eyes.gif">
    <img src="/img/links/winxp.gif">
    <img src="/img/links/pepsi.gif">
    <img src="/img/links/design.png">
    <img src="/img/links/camtime.png">
    <img src="/img/links/canada.gif">
    <img src="/img/links/america.gif">
    <a href="https://www.youtube.com/watch?v=KIlxHi2-89Q"><img src="/img/links/koolaid.gif"></a>
    <img src="/img/links/pictochat.gif">
    <img src="/img/links/msfrontpage2000.gif">
    <img src="/img/links/realplayer.gif">
    <img src="/img/links/despacito.gif">
    <img src="/img/links/winzip.gif">
    <img src="/img/links/steam.gif">
    <img src="/img/links/discord.gif">
    <img src="/img/links/anti-discord.gif">
    <img src="/img/links/button_um.gif">
    <img src="/img/links/facebook.png">
    <img src="/img/links/imissxp.gif">
    <img src="/img/links/floppa.gif">
    <img src="/img/links/lan.gif">
    <img src="/img/links/pacman.gif">
    <img src="/img/links/webpeople.gif">
    <img src="/img/links/winmedia.gif">
    <img src="/img/links/zune.png">
    <img src="/img/links/bacon.png">
    <img src="/img/links/sucks.gif">
</div>

<table>
    <tr>
        <td><div class="gold">h</div></td>
        <td>
            <div class="thepit">
                <p>introducing spy pit's debut map: sp_hell (coming to a team fortress server near you)</p>
                <img src="/img/links/pit.jpg">
            </div>
        </td>
    </tr>
</table>

<a href="https://froggi.es/"><img class="frog" src="/img/links/frog.jpg" title="frog"></a>
<img src="/img/links/rats.png">
<a href="https://www.moddb.com/mods/portal-catalyst"><img src="/img/links/portal.gif"></a>

<center>"Proud" to be part of the</center>
<center><img src="/img/links/badge.gif"></center>
</div>