---
title: Pinnacle of Web Design
layout: layouts/base.njk
---
<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.3.1/lite-youtube.js"></script>
<style>
    .frog {
        position: absolute;
        top: 380px; left: 290px;
        width: 256px;
    }
</style>

<h1 class="special">INTERNET LINKZ</h1>
<lite-youtube style="width: 640px; margin: auto;" videoid="wBTsFZGzoho" nocookie="true" videotitle="You're going surfing on the internet!"></lite-youtube>
<p class="special">(This is as close as this website will get to the design of the retro web. Better take in that peak graphical design.)</p>
<p class="special">((Oh, ya, my apologies to those using screen readers.))</p>

<!--The plan is to make this page as horribly designed as possible. Have random elements all over the place! Use divs and tables! Make modern web designers cry! Have it all contained on this single page of the site!-->

<table>
    <tr>
        <td>BRUH</td>
        <td>PAIN</td>
    </tr>
    <tr>
        <td>Gaming</td>
    </tr>
</table>

<div>
    <h2>NEOCITIES</h2>
</div>

<a href="https://froggi.es/"><img class="frog" src="/img/frog.jpg" title="frog"></a>