---
title: Portfolio
layout: layouts/browse-portfolio.njk
eleventyNavigation:
  key: Portfolio
  order: 2
---
{% set projectslist = collections.portfolio %}
{% set class = "projectNavGeneral" %}
{% for project in projectslist | reverse %}
	{% include "projectslist.njk" %}
{% endfor %}