---
pagination:
  data: types
  size: 1
  alias: type
  addAllPagesToCollections: true
types:
  - Games
  - Music
  - Video
  - Web Design
layout: layouts/browse-portfolio.njk
eleventyComputed:
  title: "{{ type }}"
permalink: /portfolio/{{ type | slugify }}/
---
{% set filter = type %}
{% set projectslist = projects %}

{% for project in projectslist | reverse %}
  {% if filter and filter == project.type %}
    {% include "projectslist.njk" %}
  {% endif %}
{% endfor %}


