---
title: Portfolio
layout: layouts/browse-portfolio.njk
eleventyNavigation:
  key: Portfolio
  order: 2
---

{%- currate "portfolio" -%}
<div>
  <button class="back-to-top">
    <a href="#main-content">Back to Top</a>
  </button>
  <div class="project-nav">
    {%- set projectslist = collections.portfolio -%}
    {%- for project in projectslist | reverse -%}
      <div class="project-item" data-primary-link="{{ project.data.links[0] | dump }}">
        <div class="project-image">
          <a href="{{ project.url | url }}">
            {%- image project.data.img, project.data.title, "320px", "eager" -%}
          </a>
        </div>
        <div class="project-details">
          <h3>
            <a href="{{ project.url | url }}">{{ project.data.title }}</a>
          </h3>
          <p class="caption">
            <time datetime="{{ project.date | htmlDateString }}">{{ project.date | readableDate }}</time>
          </p>
        </div>
        <div class="social project-links">
          {%- from 'projectlinks.njk' import projectLinks -%}
          {{ projectLinks(project.data.links) }}
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>
<script src="/js/portfolio-embeds.js" type="module"></script>