---
pagination:
  data: types
  size: 1
  alias: type
  addAllPagesToCollections: true
types:
  - Games
  - Music
  - Video
  - Web Design
layout: layouts/browse-portfolio.njk
eleventyComputed:
  title: "{{ type }}"
  eleventyNavigation:
    key: "{{ type }}"
    parent: Portfolio
    order: 1
permalink: /portfolio/{{ type | slugify }}/
---
{% set filter = type %}
{% set projectslist = projects %}

{% if type == "Video" %}
  {% set class = "projectNavVideo" %}
  <script src="/js/lite-yt-embed.js"></script>
  {% for project in projectslist | reverse %}
    {% if filter == project.type %}
      {% include "projectslist.njk" %}
    {% endif %}
  {% endfor %}
{% elif type == "Music" %}
  {% set class = "projectNavMusic" %}
  {% for project in projectslist | reverse %}
    {% if filter == project.type %}
      {% include "projectslist.njk" %}
    {% endif %}
  {% endfor %}
{% else %}
  {% set class = "projectNavGeneral" %}
  {% for project in projectslist | reverse %}
    {% if filter == project.type %}
      {% include "projectslist.njk" %}
    {% endif %}
  {% endfor %}
{% endif %}