---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - blog
    - tagList
  addAllPagesToCollections: true
layout: layouts/browse-blog.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /blog/tags/{{ tag | slugify }}/
---
{% set postslist = collections[ tag ] %}
{% set class = "blogNavItem" %}
<section>
{% for post in postslist | reverse %}
  {% include "postslist.njk" %}
{% endfor %}
</section>